# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea/*.*
!.idea/jsLinters/eslint.xml
!.idea/inspectionProfiles/Project_Default.xml

# Local env files
.env
.env.*
!.env.example

# VSC
.history
pnpm-lock.yaml
